---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/ndb/search?api_key=<APIDATAGOV_API_KEY>&q=sweet%20potatoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3167'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "q": "sweet potatoes",
                "sr": "1",
                "ds": "any",
                "start": 0,
                "end": 150,
                "total": 531,
                "group": "",
                "sort": "r",
                "item": [
                    {
                        "offset": 0,
                        "group": "Branded Food Products Database",
                        "name": "ONE POTATO TWO POTATO, PLAIN JAYNES, SWEET POTATO CHIPS, UPC: 785654000544",
                        "ndbno": "45094945",
                        "ds": "LI",
                        "manu": "Dieffenbach's Potato Chips"
                    },
                    {
                        "offset": 1,
                        "group": "Branded Food Products Database",
                        "name": "TERRA, SWEET POTATO CHIPS, PUMPKIN SPICE SWEETS, UPC: 728229014751",
                        "ndbno": "45165952",
                        "ds": "LI",
                        "manu": "THE HAIN CELESTIAL GROUP, INC."
                    },
                    {
                        "off[...]
[...]
