---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/ndb/search?api_key=<APIDATAGOV_API_KEY>&q=adfsadfasdfasf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3547'
    body:
      encoding: UTF-8
      string: |-
        {
            "errors": {
                "error": [
                    {
                        "status": 400,
                        "parameter": "results",
                        "message": "Your search resulted in zero results.Change your parameters and try again"
                    }
                ]
            }
        }
  recorded_at: Fri, 12 Jul 2019 16:12:49 GMT
recorded_with: VCR 5.0.0
